.discount-btn {
    background-color: yellow;
    background-color: #ffde00;
    padding: 3%;
    margin: 0% 32%;
    cursor: pointer;
}

.discount-seller-btn {
    position: absolute;
    top: 0px;
    left: -72px;
    width: 100%;
}

.discount-product {
    position: absolute;
    top: 192px;
    left: 365px;
    width: 17%;
    padding: 1%;
}

.close-icon {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 2%;
    color: var(--background-color);
}

.discount-window {
    margin-left: 40%;
    margin-top: 2%;
    width: 200px;
    height: 180px;
    padding: 3%;
    background-color: var(--background-color);
    border: 3px solid var(--main-color);
    box-shadow: 0px 0px 20px var(--main-color);
    font-family: 'Times New Roman', Times, serif;
    cursor: auto;
}

.code {
    font-size: 28px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--background--butto);
    cursor: auto;
}

.p-code {
    font-size: 20px;
    cursor: auto;
}

@media (max-width: 1000px) {
    .discount-btn {
        margin: 0% 31%;
    }

    .discount-seller-btn {
        left: -54px;
    }

    .discount-product {
        top: 177px;
        left: 253px;
        width: 20%;
    }
}

@media (max-width: 850px) {
    .discount-btn {
        margin: 0% 31%;
    }

    .discount-seller-btn {
        left: -54px;
    }

    .discount-product {
        top: 88px;
        left: 198px;
        width: 23%;
    }

    .description {
        margin-top: 17%;
    }

    .edit-icon {
        top: 8%;
    }
}

@media (max-width: 761px) {
    .discount-product {
        top: 85px;
        left: 181px;
        width: 24%;
    }

    .description {
        margin-top: 22%;
    }
}

@media (max-width: 700px) {
    .discount-product {
        top: 83px;
        left: 164px;
        width: 33%;
    }


}

@media (max-width: 510px) {
    .discount-product {
        top: 75px;
        left: 104px;
        width: 35%;
    }
}

@media (max-width: 400px) {
    .discount-btn {
        margin: 0% 32%;
    }

    .discount-seller-btn {
        left: -47px;
    }

    .edit-icon {
        top: 3%;
    }

    .discount-product {
        top: 52px;
        left: -22px;
        width: 49%;
    }
}