.container-up{
    width: 700px;
    margin: auto !important;
    background-color: transparent;
    padding: 1% 10% 5%;
    box-shadow: 0px 0px 10px var(--main-color);
}

.container-up h1{
    margin-bottom: 10%;
    color: var(--main-color);
    margin-left: 0px !important;
}
.control{
    margin-top: 10%;
    display: inline-block;
}
a:-webkit-any-link {
    color: var(--main-color) ;
    text-decoration: none;
}
.body-signup{
    background-image: url(../../../img/vv.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.css-i4bv87-MuiSvgIcon-root{
    color: var(--main-color);
}