.images {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5% auto;
    height: 70vh;
}

.vertical-image {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    width: 100%;
    display: block;
}

.vertical-image img {
    width: 85%;
    margin: 3% auto;
    height: 160px;
    transition: 1s;
}

.vertical-image img:hover {
    transform: scale(1.6);
}

.base-image {
    width: 80%;
    height: 530px;
    display: flex;
    flex-direction: column;
}

.base-image img {
    width: 80%;
    height: 100%;
    margin: auto;
}

.wish {
    margin: 1% auto;
    color: var(--main-color);
    cursor: pointer;
}

.info {
    margin: auto;
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
}

.edit {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 25px;
    cursor: pointer;
}

.description {
    color: var(--main-color);
    padding: 5% 1%;
    background-color: var(--background-color);
    text-align: center;
    margin: 10%;
    border-radius: 10%;
    font-size: 22px;
}

.feedback {
    margin: 4% auto;
    width: 20%;
    cursor: pointer;
}

h2 {
    font-size: 36px;
    text-align: center;
    color: var(--main-color);
    text-shadow: 0px 0px 20px var(--button-back-color);
}

.img {
    width: 100%;
    height: 150px;
}

@media (max-width: 1244px) {
    .description {
        margin: 20%;
    }
}

@media (max-width: 930px) {
    .base-image {
        width: 80%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .vertical-image img {
        width: 85%;
        margin: 3% auto;
        height: 100px;
        transition: 1s;
    }

    .feedback {
        width: 40%;
    }

    .description {
        margin: 10%;
    }
}
