.Navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    border: 3px solid #ccc;
    border-radius:20px;
  }
.Navbar label {
    margin-right: 1px !important;
  }
.sortA-n{
    margin-left: 100px;
}
.sort-n{
    margin-left: 675px;
}
 .Navbar nav {
    border-bottom: 1px solid #ccc;
  }
 .Navbar label {
    font-weight: bold;
  }
.Navbar  select {
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  