.Image{
    width:80% !important;
    height: auto !important;
}

.Image1{
    width:45% !important;
    height: auto !important;
}
@media screen and (min-width:300px) and (max-width:930px){
    .Image1{
        width:80%;
        height: auto;
    }}
    @media screen and (min-width:10px) and (max-width:930px){
        .Image1{
            width:80%;
            height: auto;
        }}
