.Image{
    width:80% !important;
    height: auto !important;
    margin-left: 12% !important;
}
.div-s{
    width: 99%;
    margin-left: 30%;
}
.Image1{
    width:41% !important;
    height: auto !important;
}
@media screen and (min-width:300px) and (max-width:930px){
    .Image1{
        width:80%;
        height: auto;
    }}
    @media screen and (min-width:10px) and (max-width:930px){
        .Image1{
            width:80%;
            height: auto;
        }}
