.container-edit{
    width: 700px;
    background-color: transparent;
    padding: 1% 10% 5%;
    box-shadow: 0px 0px 10px var(--main-color);
}

.container-edit h1{
    margin-bottom: 10%;
    color: var(--main-color);
    margin: auto;
}
.container-edit .control{
    margin-top: 10%;
    display: inline-block;
}
a:-webkit-any-link {
    color: var(--main-color) ;
    text-decoration: none;
}
.container-edit body{
    background-color: rgba(111, 71, 97, 0.311);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.css-i4bv87-MuiSvgIcon-root{
    color: var(--main-color);
}
.container-edit .button{
    text-align: center;
}
.container-edit .Avatar{
    text-align: center;
    margin-left: 290px;
}
.container-edit .A{
    margin-left: 40%;
}