.I .nav-link {
  font-size: 30px;

}

.Image {

  width: 40%;

  background-color: red;
}
.logo-img{
  height: 120px !important;
  margin-left: 5% !important;
  padding-left: 3%;
}
img {
  margin-left: 9%;
}

.Icon {
  margin-left: 14%;
}

.Drop {
  margin-left: 4%;

}