button{
    border: none;
    background-color: white;
    color: #562B08
    padding-right: 20%;
    padding-left: 20%;

}
h1{
    margin-bottom: 5%;
    color: #562B08;
    
}

.Image{
    margin-top: 5%;
}
h2{
    margin-left: 3%;
    font-size: 20px;
}

